config APP_LED
	bool "Enable LED application"
	default n
	help
	  Enable LED application.

config APP_LED_SUSPEND_TASK_MANUAL
	bool "Suspend LED task on manual mode"
	default y
	help
	  If enabled, the LED task is suspended when the node is in manual mode.
	  If disabled, the LED task is running in manual mode. If strip is unreliable, may help as will be updated at 100 Hz even if no change in state.
